assume_role_arn: arn:aws:iam::164885464039:role/terraform  # Replace with IAM Role ARN to assume

groups:
  DevOps:
    description: "DevOps Team"
  VPN:
    description: "VPN Users"
  SysOps:
    description: "SysOps Team"

permission_sets:
  AWSAdministratorAccess:
    aws_managed_policies:
      - arn:aws:iam::aws:policy/AdministratorAccess
    description: Provides full access to AWS services and resources
    session_duration: PT8H
  SysOps:
    aws_managed_policies:
      - arn:aws:iam::aws:policy/AmazonEC2ReadOnlyAccess
      - arn:aws:iam::aws:policy/AmazonSSMFullAccess
      - arn:aws:iam::aws:policy/AmazonEC2FullAccess
      - arn:aws:iam::aws:policy/AmazonRDSFullAccess
      - arn:aws:iam::aws:policy/SecretsManagerReadWrite
      - arn:aws:iam::aws:policy/AmazonS3FullAccess
    inline_policy: '{"Version":"2012-10-17","Statement":[{"Sid":"SSO","Effect":"Allow","Action":["sso:ListDirectoryAssociations*","identitystore:DescribeUser"],"Resource":"*"},{"Sid":"EC2","Effect":"Allow","Action":["ec2:DescribeInstances","ec2:GetPasswordData"],"Resource":"*"},{"Sid":"SSM","Effect":"Allow","Action":["ssm:DescribeInstanceProperties","ssm:GetCommandInvocation","ssm:GetInventorySchema"],"Resource":"*"},{"Sid":"TerminateSession","Effect":"Allow","Action":["ssm:TerminateSession"],"Resource":"*","Condition":{"StringLike":{"ssm:resourceTag\/aws:ssmmessages:session-id":["${aws:userName}"]}}},{"Sid":"SSMGetDocument","Effect":"Allow","Action":["ssm:GetDocument"],"Resource":["arn:aws:ssm:*:*:document\/AWS-StartPortForwardingSession","arn:aws:ssm:*:*:document\/SSM-SessionManagerRunShell"]},{"Sid":"SSMStartSession","Effect":"Allow","Action":["ssm:StartSession"],"Resource":["arn:aws:ec2:*:*:instance\/*","arn:aws:ssm:*:*:managed-instance\/*","arn:aws:ssm:*:*:document\/AWS-StartPortForwardingSession"],"Condition":{"BoolIfExists":{"ssm:SessionDocumentAccessCheck":"true"}}},{"Sid":"SSMSendCommand","Effect":"Allow","Action":["ssm:SendCommand"],"Resource":["arn:aws:ec2:*:*:instance\/*","arn:aws:ssm:*:*:managed-instance\/*","arn:aws:ssm:*:*:document\/AWSSSO-CreateSSOUser"],"Condition":{"BoolIfExists":{"ssm:SessionDocumentAccessCheck":"true"}}},{"Sid":"GuiConnect","Effect":"Allow","Action":["ssm-guiconnect:CancelConnection","ssm-guiconnect:GetConnection","ssm-guiconnect:StartConnection"],"Resource":"*"}]}'
    description: Provides read-only access to EC2 and full access to SSM
    session_duration: PT8H

account_assignments:

  164885464039: # corporacion_alisa_administration@nclouds.com
    - group: DevOps
      permission_set: AWSAdministratorAccess
  '012874738755': # administracion_aws+logarchive@grupopinulito.com
    - group: DevOps
      permission_set: AWSAdministratorAccess
  649419331163: # administracion_aws+audit@grupopinulito.com
    - group: DevOps
      permission_set: AWSAdministratorAccess
  203194050383: # administracion_aws@grupopinulito.com
    - group: DevOps
      permission_set: AWSAdministratorAccess
    - group: SysOps
      permission_set: SysOps
  823613469731: # administracion_aws+network@grupopinulito.com
    - group: DevOps
      permission_set: AWSAdministratorAccess
  668353540121: # administracion_aws+shared@grupopinulito.com
    - group: DevOps
      permission_set: AWSAdministratorAccess
  985384755074: # administracion_aws+pinuprod@grupopinulito.com
    - group: DevOps
      permission_set: AWSAdministratorAccess
    - group: SysOps
      permission_set: SysOps

users:
  carlos.rodriguez@nclouds.com:
    first_name: Carlos
    last_name: Rodriguez
    groups:
      - DevOps
      - VPN
  cristian@nclouds.com:
    first_name: Cristian
    last_name: "Meoño"
    groups:
      - DevOps
      - VPN
      - SysOps
  miguel@nclouds.com:
    first_name: Miguel
    last_name: Alvarado
    groups:
      - DevOps
      - VPN
  jonnatan.sanchez@corporacionalisa.com:
    first_name: Jonnatan
    last_name: Sanchez
    groups:
      - VPN
      - SysOps
  josue.boch@corporacionalisa.com:
    first_name: Josue
    last_name: Boch
    groups:
      - VPN
      - SysOps
  boris.coloma@corporacionalisa.com:
    first_name: Boris
    last_name: Coloma
    groups:
      - VPN
      - SysOps
  sergio.munoz@corporacionalisa.com:
    first_name: Sergio
    last_name: Muñoz
    groups:
      - VPN
      - SysOps
  sergio.colindres@corporacionalisa.com:
    first_name: Sergio
    last_name: Colindres
    groups:
      - VPN
      - SysOps
  carlos.aifan@corporacionalisa.com:
    first_name: Carlos
    last_name: Aifan
    groups:
      - VPN
      - SysOps
  brian.perez@corporacionalisa.com:
    first_name: Brian
    last_name: Perez
    groups:
      - VPN
      - SysOps
  